In [43]:
from PIL import Image
import os
import numpy as np
import pandas as pd
import csv

In [44]:
alex_images_path = "Alex_Kelly_Pics/Alex"
kelly_images_path = "Alex_Kelly_Pics/Kelly"
test_images_path = "Alex_Kelly_Pics/TestSet"

In [45]:
def sorted_image_names(path):
    return sorted(os.listdir(path), key=lambda x: int(''.join(filter(str.isdigit, x))))

In [46]:
alex_image_names = sorted_image_names(alex_images_path)
kelly_image_names = sorted_image_names(kelly_images_path)
test_image_names = sorted_image_names(test_images_path)

image_names = alex_image_names + kelly_image_names

In [47]:
def load_images_from_folder(folder, resize_shape=(64, 64)):
    images = []
    image_names = []
    for filename in os.listdir(folder):
        img = Image.open(os.path.join(folder, filename)).convert('RGB')
        img = img.resize(resize_shape)
        if img is not None:
            img_array = np.array(img)
            images.append(img_array.flatten())
    return images

In [48]:
alex_images = load_images_from_folder(alex_images_path)
kelly_images = load_images_from_folder(kelly_images_path)
test_images = load_images_from_folder(test_images_path)


alex_images_df = pd.DataFrame(alex_images, index=alex_image_names)
kelly_images_df = pd.DataFrame(kelly_images, index=kelly_image_names)
test_images_df = pd.DataFrame(test_images, index=test_image_names)

In [49]:
alex_kelly_images_df = pd.concat([alex_images_df, kelly_images_df])
alex_kelly_images_df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,12278,12279,12280,12281,12282,12283,12284,12285,12286,12287
Alex-Image01.png,147,134,138,150,135,138,146,134,137,148,...,123,131,121,126,132,121,127,131,121,128
Alex-Image02.png,191,187,186,162,161,166,139,133,140,124,...,251,242,247,248,242,247,250,242,248,251
Alex-Image03.png,95,112,118,98,112,118,103,114,117,112,...,64,62,66,70,50,54,59,49,53,58
Alex-Image04.png,93,150,201,97,151,200,98,151,199,97,...,27,101,49,27,49,19,12,35,14,10
Alex-Image05.png,59,108,155,54,73,98,81,136,191,82,...,80,95,95,100,86,84,88,70,66,61